.pagination-toc    {
  border: 1px solid #CCCCCC;
  background-color: rgba(225, 225, 225, 0.75);
  padding: 10px;
}

#content .pagination-toc {
  float: left;
  width: 250px;
  margin-right: 15px;
  margin-bottom: 15px;
}